@media screen and (min-width: 800px) {
  * {
    max-width: 100vw;
  }

  body {
    overflow-x: hidden;
  }

  .navbar {
    padding: 60px;
  }

  .navbar > img{
    width: 20%;
  }

  .try {
    width: 17%;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
  }

  .try:hover {
    color: var(--grayish-blue);
  }

  .intro {
    padding: 0 30px;
    width: 100vw;
    flex-direction: row;
    text-align: left;
  }

  .intro-text h1{
    font-size: 48px;
  }
  .intro-text p{
    font-size: 20px;
  }

  .intro img {
    width: 50vw;
    padding-left: 50px;
  }

  .start {
    cursor: pointer;
    transition: 0.5s;
  }
  .start:hover {
    opacity: 0.8;
  }

  .container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
  }

  .container.grow,
  .container.users {
    flex-direction: row-reverse;
  }

  .container img {
    width: 40%;
  }

  .container-text {
    padding: 20px;
    padding-right: 40px;
    text-align: left;
  }

  .container-text p {
    font-size: 20px;
  }

  .flow > .container-text {
    padding: 0 0 0 40px;
  }

  .ready {
    top: 145px;
    width: 60vw;
    height: 300px;
    font-size: 32px;
    z-index: 1;
  }

  .ready > .start {
    font-size: 25px;
    width: 350px;
    height: 60px;
  }

  footer {
    position: relative;
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
  }

  #footer-logo {
    padding-left: 30px;
  }

  .contact-info {
    width: 40%;
  }

  .contact-info > ul > li,
  .more-info > li > a {
    font-size: 24px;
  }

  .more-info > li > a:hover {
    text-decoration: underline;
  }

  .socials {
    padding: 30px;
    align-items: flex-start;
  }

  .fa-brands {
    transition: 0.7s;
  }
  .fa-brands:hover {
    cursor: pointer;
    color: var(--pink);
    border: 2px solid var(--pink);
  }

  #copyright,
  .attribution {
    font-size: 17px;
    position: absolute;
    bottom: 40px;
    right: 30px;
    color: var(--very-pale-cyan);
  }

  .attribution {
    bottom: 17px;
  }
}
